@import "~semantic-ui-css/semantic.min.css";
@import '~react-redux-toastr/src/styles/index';
@import "variables";

.container {
  margin-top: $margin-xl;
}

.delete-button-container {
  margin-bottom: $margin-xl;
}

.ui.card {
  max-width: 263px;
}

.ui.message.no-display-message {
  margin: 0 auto $margin-xl auto;
}